
services:
  configserver:
    build:
      context: ../configserver
    image: app/configserver:0.1.0
    container_name: configserver
    ports: ["8888:8888"]
    environment:
      SPRING_PROFILES_ACTIVE: native
    volumes:
      - ../config-repo:/config-repo:ro
    networks: [shop-net]

  catalog-db:
    image: postgres:16
    container_name: catalog-db
    environment:
      POSTGRES_USER: catalog
      POSTGRES_PASSWORD: catalog
      POSTGRES_DB: catalogdb_dev
    ports: ["5433:5432"]
    volumes: [pg_catalog_data:/var/lib/postgresql/data]
    networks: [shop-net]

  order-db:
    image: postgres:16
    container_name: order-db
    environment:
      POSTGRES_USER: orders
      POSTGRES_PASSWORD: orders
      POSTGRES_DB: orderdb_dev
    ports: ["5434:5432"]
    volumes: [pg_order_data:/var/lib/postgresql/data]
    networks: [shop-net]

  catalog-service:
    build:
      context: ../catalog-service
    image: app/catalog-service:0.1.0
    container_name: catalog-service
    depends_on: [configserver, catalog-db]
    environment:
      SPRING_PROFILES_ACTIVE: dev
      SPRING_CONFIG_IMPORT: optional:configserver:http://configserver:8888/
    ports: ["8081:8081"]
    networks: [shop-net]

  order-service:
    build:
      context: ../order-service
    image: app/order-service:0.1.0
    container_name: order-service
    depends_on: [configserver, order-db]
    environment:
      SPRING_PROFILES_ACTIVE: dev
      SPRING_CONFIG_IMPORT: optional:configserver:http://configserver:8888/
    ports: ["8082:8082"]
    networks: [shop-net]

volumes:
  pg_catalog_data:
  pg_order_data:

networks:
  shop-net:
    driver: bridge
